.backButton {
    margin-left: 50px;
    margin-top: 50px;
}

.createQuizButton{
    float:right ;
    margin-right: 50px;
    margin-top: 50px;
    width:160px;
    color: black;
    background-color: palegoldenrod;
    border: none;
}



.transform-button{
    padding: 5px 20px
}

.edit-button{
    float: left;
    margin-top: 24%;
    padding:5px 18px
}

.delete-quiz-button{
    float: right;
    margin-top: 24%;
    padding: 5px 18px
}


.createQuizPage{
    background-color: white;
    width: 90%;
    margin: 50px auto;
    padding: 20px 0 40px 0;
    border-radius: 5px;
    box-shadow: 5px 5px #ddd;
    min-height: 550px;

}

.myQuiz{
    margin-left: 50px;
    margin-top: 40px;
    font-family: "Arial Black", sans-serif;
    font-size: 1.8em;
}

.button-onfocus{
    width: 300px;
    height:120px;
    padding: 10px;
    position: absolute;

}

.createQuizPage .QuizZone{
    width: 300px;
    margin: 40px;
    height:120px;
    padding: 30px;
    background-color: #e7effc;

    color: black;
    border: 0;
    font-size: 22px;

    display: inline-flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}

.quizName{
    font-family: "Arial Black", sans-serif;
    font-size: 1.5em;
    width:100%
}

a{

    text-decoration:none;

}

.no_private{
    padding: 20px 100px;
    font-size: 22px;
}

.createQuizPage .button-onfocus{
    display: none;
}

.createQuizPage .QuizZone:hover .button-onfocus{
    display: block;
}

.createQuizPage .QuizZone:hover{
    background-color: #e7effc;
    color: black;
}