.quizPage{
    height:680px
}

.backButton {

    margin-left: 50px;
    margin-top: 50px;
}



.formerButton {
    font-size: 40px;
    margin-left: 100px;
    margin-top: 10px;
    font-weight: bold;
    border:None;
}

.nextButton {
    font-size: 40px;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 100px;
    border:None;
    float:right;
}


.option{
    padding-bottom:15px;
    padding-top:15px
}

.optionButton {
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
}



.quizPage{
    background-color: white;
}

.question{
    padding: 30px 10px 30px 10px ;
    text-align: center;
    color: black;
    font-size: 30px;
}

.quizForm{
    padding: 30px 10px 30px 10px ;
    text-align: center;
    height: 476px;

}

.seeFeedback{
    padding: 20px 30px 20px 30px;
    margin: 60px 0;
    font-size: 20px;

}

.modal-body{
    padding: 40px;
    font-size: 20px;
}

.modal-content{
    margin-top: 300px;

}

.modal-footer{
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ensureExit{
    padding: 5px 25px;
}

.cancelExit{
    padding: 5px 25px;
}



