.label{margin-left: 0}

.Share{
    margin: 10px auto;
    padding: 20px 10px 20px 10px;
    width: 400px;
    background-color: whitesmoke;
    text-align: center;
}

.share-button{
    width: 150px;
}

.share-row{
    text-align: center;
    padding: 20px 0 20px 0;
}

.Share input{
    width: 80%!important;
    margin: 10px auto;
}

.shareForm{
    text-align: center;
}