.icon-img{
    height:50px;
    width:50px;
    margin-right: 20px;
}

.brand{
    font-family: "Arial Black", sans-serif;
}

aria-labelledby .show{
    right:80px
}

.dropdown{
    margin-right: 100px;
}