/*.App{*/
/*    width: 100%;*/
/*    justify-content: center;*/
/*    background-color: #e8effc;*/
/*}*/

.ResetPassword{
    width: 500px;
    /*height: 750px;*/
    background-color: whitesmoke;
    margin: 20px auto;
    /*padding: 50px 70px;*!*/
    box-shadow: 5px 5px #ddd;
    border-radius: 5px;
    text-align: center;
}

.resetPasswordForm{
    margin:auto;
    width: 90%;
    padding: 80px 50px 80px 50px;
    border-radius:10px;
    border: 3px bisque;
}
.heading{
    padding: 30px 10px 30px 10px ;
    text-align: center;
    color: black;
    font-size: 30px;
}
.label{
    display: inline-block;
    text-align: left;

}
.input{
    vertical-align:top;
}

.inputContent{
    padding: 10px 10px 10px 10px;
}

.resetButton{
    text-align: center;
    width: 95%;
    text-align-all: center;
    light-height: heightValue;
    border-radius: 10px;
    /*background-color: #e7effc;*/
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    /*margin-bottom: 30px;*/
    box-shadow:5px 5px 10px gray;
    vertical-align:center;

}
