.ViewLECs{
    background-color:#FFFCF9;
    width: 65%;
    margin: 50px auto;
    padding: 20px 0 40px 0;
    border-radius: 5px;
    box-shadow: 5px 5px #ddd;
    min-height: 550px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;

}

.ViewLECs .container{
    width: 80%;
}

.ViewLECs .question{
    text-align: left;
    padding: 8px 0 0 0;
    font-size: 20px;
}

.ViewLECs .optionButton{
    color: white;
    background-color: #1198AB;
    width:480px
}

.ViewLECs .option{
    padding-top: 10px;
}

.ViewLECs .title{
    padding-top: 20px;
    text-align: center;
}

.ViewLECs .reflection{
    white-space:pre-line;

}

.default-reflection{
    text-align: center;
}

.ViewLECs .box{
    text-align: center;
}

.ViewLECs .backButton {
    width: 100px;
    color: white;
    background-color: #1198AB;
}

.ViewLECs .backButton:hover {

    color: white;
    background-color: #1180AB;
    border:#1180AB 2px solid;
}

