.App{

    height: 100%;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: auto;
    background:  url('./Components/images/registerbackground.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.navbar-text{
    /*margin-right: 35%;*/
}

.modal-header{
    font-size: 18px;
    font-weight: bolder;
    padding-left: 25px;
}






