.App{

    height: 100%;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: auto;
    overflow-y: scroll;

    background:  url('./Components/images/registerbackground.jpg') repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

::-webkit-scrollbar {
    display: none;
}

.App-container{
    padding-top: 66px;
}


.navbar-text{
    /*margin-right: 35%;*/
}

.modal-header{
    font-size: 18px;
    font-weight: bolder;
    padding-left: 25px;
}

.give-comment-textarea{
    height: 180px;
}

.modal-dialog{
    top:-10%
}






